#account-register .card-account-left {
  background: -webkit-gradient(linear, left top, right top, from(#266db9), to(#153b71));
  background: -webkit-linear-gradient(left, #266db9, #153b71);
  background: -moz- oldlinear-gradient(left, #266db9, #153b71);
  background: -o-linear-gradient(left, #266db9, #153b71);
  background: linear-gradient(90deg, #266db9, #153b71);
  border-radius: 5px 0 0 5px; }
  #account-register .card-account-left .card-account-img {
    position: relative;
    top: -webkit-calc(200px - 125px);
    top: -moz-calc(200px - 125px);
    top: calc(200px - 125px); }

#account-register .card-account-right {
  border-radius: 0 5px 5px 0; }
